<section class="section">
  <div class="container">
    <h1 class="title">Chat room [MAIN]</h1>
    <div class="columns">
      <div class="column is-one-quarter">USERLIST GOES HERE</div>
      <div class="column">
        <novy-message></novy-message>
        <novy-message></novy-message>
        <novy-message></novy-message>
      </div>
    </div>

    <div class="columns message-textarea has-background-light">
      <div class="column">
        <div class="field">
          <label class="label">Message</label>
          <div class="control">
            <textarea class="textarea is-info" placeholder="Write your message and press ENTER to send"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>