<div class="chat-message">
  <div class="level is-mobile has-text-grey-dark">
    <div class="level-left">
      <div class="level-item message-username">SirBewick</div>
    </div>
    <div class="level-right">
      <div class="level-item message-timestamp is-size-7">12/03/2020 03:52</div>
    </div>
  </div>
  <div class="columns has-text-grey">
    <div class="column">
      <div class="message-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fringilla, purus sit amet tincidunt vestibulum, odio leo mattis tortor, ac bibendum tellus metus a magna. Mauris semper rutrum quam quis dapibus. Aliquam eros arcu, dapibus vel nibh in, venenatis accumsan massa. Proin eget condimentum nibh, et placerat lorem. Nulla vestibulum et augue quis auctor. Ut nec odio nisl. Nullam quis iaculis nisl. Sed gravida risus et aliquam tristique. Donec a mi felis. In hac habitasse platea dictumst. Duis egestas urna erat, ut condimentum nibh fermentum non. Maecenas id diam ex. In hac habitasse platea dictumst. Nunc tempor magna nisl, sed facilisis ipsum facilisis sit amet.
      </div>
    </div>
  </div>
</div>